body {
	background-color: #010a01;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100dvh;
	background-color: rgb(0, 0, 0);
}

.app__title{
	color: white;
	font-family: 'Gobahtrial';
	font-size: calc(1dvh + 2dvw);
	animation: pulsate .22s ease-in-out infinite alternate;
	user-select: none;
}

.winner__o {
	animation: blink_blue .8s ease-in-out infinite;
}

.winner__x {
	animation: blink_red .8s ease-in-out infinite;
}

@keyframes pulsate {
	100% {
		text-shadow:
			0 0 2px #fff,
			0 0 10px #fff,
			0 0 13px #fff,
			0 0 40px rgb(110, 20, 110),
			0 0 80px rgb(110, 20, 110),
			0 0 110px rgb(110, 20, 110),
			0 0 120px rgb(110, 20, 110),
			0 0 180px rgb(171, 34, 171);
	}
 	0% {
		text-shadow:
			0 0 2px #fff,
			0 0 9px #fff,
			0 0 12px #fff,
			0 0 38px rgb(110, 20, 110),
			0 0 73px rgb(110, 20, 110),
			0 0 9cm rgb(110, 20, 110),
			0 0 104px rgb(110, 20, 110),
			0 0 160px rgb(171, 34, 171);
	}
}

@keyframes blink_blue {
    0%, 100%{
        text-shadow:
        0 0 2px #fff,
        0 0 5px rgb(73, 73, 200),
        0 0 40px rgb(73, 73, 200),
		0 0 88px rgb(73, 73, 200),
        0 0 131px rgb(73, 73, 200),
		0 0 271px rgb(0, 0, 255),
        0 0 370px rgb(0, 0, 255);
    }

    50% {
        text-shadow: none;
    }
    
}

@keyframes blink_red {
    0%, 100%{
        text-shadow:
		0 0 2px #fff,
        0 0 5px rgb(200, 73, 73),
        0 0 40px rgb(200, 73, 73),
        0 0 88px rgb(200, 73, 73),
        0 0 131px rgb(200, 73, 73),
        0 0 271px rgb(255, 0, 0),
        0 0 370px rgb(255, 0, 0);
    }

    50% {
        text-shadow: none;
    }
    
}
